@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.maincard {
  padding: 2rem;
  margin: 1.5rem 2rem;
  display: flex;
  flex-direction: column;

  @include card-border;
  @include tablet {
    margin: 2rem 5rem;
  }
  @include desktop {
    margin: 3rem 15rem;
  }
  &__image {
    background-color: $primary-white;
    object-fit: scale-down;
    height: 15rem;
    justify-items: center;
    @include tablet {
      height: 20rem;
    }
    @include desktop {
      height: 25rem;
    }
  }
  &__header {
    font-size: 40px;
    color: $primary-text;
    text-decoration: none;
    text-align: center;
  }
  &__body {
    color: $dark-grey;
    @include body-medium;
    margin: 0.5rem 0;
    display: inline-block;
  }
  &__tag-section {
    height: auto;
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include reset;
  }
  &__items {
    margin: 0.5rem 1rem 0 0;
    display: inline;
    text-align: center;
    text-decoration: none;
    @include tag-style;
    border-color: $button-blue;
  }
}
