@use "./variables" as *;

// ========Mixins for screen breakpoints========
@mixin tablet {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}

// ========Mixins to reset default styles========
@mixin reset {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
//========Text========

@mixin body-small {
  // for tags
  font-size: 0.625rem; //10px
  font-family: $primary-font;
  font-weight: 300;
  @include tablet {
    font-size: 1.25rem; //20px
    font-size: 0.75rem; //12px
  }
}

@mixin body-medium {
  //for comments, card text
  font-size: 0.75rem; //12px
  font-family: $primary-font;
  font-weight: 300;
  @include tablet {
    font-size: 1.25rem; //20px
  }
}

@mixin header-style {
  ////these sizes are temporary and can be changed if needed
  font-size: 1.625rem; //26px
  font-family: $primary-font;
  font-weight: 400;
  @include tablet {
    font-size: 3.25rem; //52px
  }
}

//========Button========
@mixin button-style {
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  background-color: $primary-white;
  color: $primary-red;
  padding: 0.5rem 1rem;
  font-family: $primary-font;
  font-weight: 500;
  border: $primary-red 0.08rem solid;
  border-radius: 0.35rem;
  text-align: center;
  @include body-medium;

  &:hover {
    background-color: $primary-red;
    color: $primary-white;
  }
  @include tablet {
    padding: 1rem 1.5rem;
    border-width: 0.15rem;
  }
}

//========Tags========
@mixin tag-style {
  color: $primary-red;
  background-color: $primary-white;
  padding: 0.25rem 0.5rem;
  border: $primary-red solid 0.08rem;
  border-radius: 0.35rem;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
  @include body-small;
  @include tablet {
    padding: 0.5rem 0.75rem;
    border-width: 0.15rem;
    @include body-medium;
  }
  &:hover {
    background-color: $primary-red;
    color: $primary-white;
  }
}

//========Card-border========
@mixin card-border {
  border: grey solid 0.08rem;
  border-radius: 0.35rem;
}
//========Flex========

//so im not sure how this works. i attempted it.

// @mixin flex-center($direction: row, $justify: center, $align: center) {
//   display: flex;
//   flex-direction: $direction;
//   justify-content: $justify;
//   align-items: $align;
// }
