@use "./styles/partials/mixins" as *;
@use "./styles/partials/variables" as *;

// =============================
// All elements
// =============================

* {
  box-sizing: border-box;
}

.test {
  background-color: $primary-text;
  color: $primary-white;
  @include body-medium;
}
