@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.filter {
    margin: 0;
    padding: 1rem;
    &__label {
        margin:0;
        margin-bottom: 0.5rem;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;
        margin: 0;
    }


    &__tag {
        @include tag-style;
        // background-color: ;

        &--selected {
            background-color: $light-grey;
            color: $primary-white;
    }
    }
}